* {
    box-sizing: border-box;
    cursor: default;
}

html {
    font: 62.5% "Yandex_Sans_Display_Web_Regular", arial, sans-serif;
    width: 810px;
}

.content {
    margin: 0 auto;
}


/* ЗАГОЛОВКИ */
.header {
    font: 1.7rem/2rem "Yandex_Sans_Display_Web_Bold", arial, sans-serif;
    letter-spacing: .02em;
    margin-bottom: 19px;
}

.subheader {
    font: 1.25rem/1.5rem "Yandex_Sans_Display_Web_Light", arial, sans-serif;
    margin-bottom: 20px;
}


/* КНОПКИ */
.buttons-wrapper {
    padding-left: 0;
    margin: 0 0 20px 0;
}

.button {
    display: inline-block;
    cursor: pointer;
    font: 1.3rem/2.8rem arial, sans-serif;
    padding: 0 13px;
    border-radius: 3px;
    border: rgba(0, 0, 0, 0.15) solid 1px;
    margin-right: 5px;
}

.button_pressed {
    background-color: #ffdb4d;
    border: #ffdb4d solid 1px;
    cursor: default;
}


/* ПОДПИСИ */
.caption {
    font: .9rem/1.3rem "Yandex_Sans_Display_Web_Regular", arial, sans-serif;
    text-transform: uppercase;
    color: #555150;
    margin-top: 20px;
    letter-spacing: .06em;
}