* {
    box-sizing: border-box;
    cursor: default;
}

body {
    font-size: 62.5%;
    font-family: "Yandex_Sans_Display_Web_Regular", arial, sans-serif;
    width: 810px;
}

.content {
    margin: 0 auto;
}

/* ЗАГОЛОВКИ */
.header {
    font-family: "Yandex_Sans_Display_Web_Bold";
    font-size: 17px;
    color: #000000;
    letter-spacing: .02em;
    line-height: 20px;
    margin-bottom: 19px;
}

.subheader {
    font-family: "Yandex_Sans_Display_Web_Light";
    font-size: 1.25em;
    color: #000000;
    line-height: 15px;
    margin-bottom: 20px;
}


/* КНОПКИ */
.buttons-wrapper {
    font-family: "Yandex_Sans_Display_Web_Thin";
    font-size: 1.25em;
    padding-left: 0;
    margin: 0 0 20px 0;
}

.button {
    margin: 0 5px 0 0;
    display: inline-block;
    cursor: pointer;
    font-size: 13px;
    line-height: 28px;
    font-family: arial, sans-serif;
    padding: 0 13px;
    border-radius: 3px;
    border: rgba(0, 0, 0, 0.15) solid 1px;
}

.button_pressed {
    background-color: #ffdb4d;
    border: #ffdb4d solid 1px;
}

.button_clickable {
    cursor: pointer;
}

/* ПОДПИСИ */
.caption {
    font-family: "Yandex_Sans_Display_Web_Regular";
    text-transform: uppercase;
    font-size: .9em;
    color: #555150;
    margin-top: 20px;
    letter-spacing: .06em;
    line-height: 13px;
}