/*@font-face {
    font-family: "Yandex Sans Text";
    src: url("Yandex Sans Text-Regular.eot");
        src: url("../../../../fonts/Yandex Sans Text-Regular.eot?#iefix") format("embedded-opentype"),
             url("../../../../fonts/Yandex Sans Text-Regular.woff2") format("woff2"),
             url("../../../../fonts/Yandex Sans Text-Regular.woff") format("woff"),
             url("../../../../fonts/Yandex Sans Text-Regular.ttf") format("truetype"),
             url("../../../../fonts/Yandex Sans Text-Regular.svg#YandexSansText-Regular") format("svg");
    font-weight: 400;
    font-style: normal;
    }

@font-face {
    font-family: "Yandex Sans Text";
    src: url("Yandex Sans Text-Bold.eot");
        src: url("../../../../fonts/Yandex Sans Text-Bold.eot?#iefix") format("embedded-opentype"),
             url("../../../../fonts/Yandex Sans Text-Bold.woff2") format("woff2"),
             url("../../../../fonts/Yandex Sans Text-Bold.woff") format("woff"),
             url("../../../../fonts/Yandex Sans Text-Bold.ttf") format("truetype"),
             url("../../../../fonts/Yandex Sans Text-Bold.svg#YandexSansText-Bold") format("svg");
    font-weight: 700;
    font-style: normal;
    }*/

@font-face {
    font-family: "Yandex Sans Text";
    src: url("Yandex Sans Text-Regular.eot");
        src: url("Yandex Sans Text-Regular.eot?#iefix") format("embedded-opentype"),
             url("Yandex Sans Text-Regular.woff2") format("woff2"),
             url("Yandex Sans Text-Regular.woff") format("woff"),
             url("Yandex Sans Text-Regular.ttf") format("truetype"),
             url("Yandex Sans Text-Regular.svg#YandexSansText-Regular") format("svg");
    font-weight: 400;
    font-style: normal;
    }

@font-face {
    font-family: "Yandex Sans Text";
    src: url("Yandex Sans Text-Bold.eot");
        src: url("Yandex Sans Text-Bold.eot?#iefix") format("embedded-opentype"),
             url("Yandex Sans Text-Bold.woff2") format("woff2"),
             url("Yandex Sans Text-Bold.woff") format("woff"),
             url("Yandex Sans Text-Bold.ttf") format("truetype"),
             url("Yandex Sans Text-Bold.svg#YandexSansText-Bold") format("svg");
    font-weight: 700;
    font-style: normal;
    }